body {
	margin: 0;
	font-family: 'Lora', serif;
	line-height: 30px;
}

header {
	background-color: #71230F;
	background-image: url("img/leaves.jpg");
	text-align: center;
	padding: 50px 0;
	color: white;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	color: #71230F;
}

header h1, h3 {
	color: whitesmoke;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 25px;
}

header img {
	border-radius: 200px;
	border: 9px solid white;
}

main {
	max-width: 90%;
	margin: 0 auto;
	padding: 5%;
}

.center {
	text-align: center;
	font-style: italic;
	color: #71230F;
}

.center p {
	margin: 0;
}

main img {
	max-width: 100%;
	width: 800px;
	margin: 10px 0 5px 0;
}

a {
	color: #200001;
	text-decoration: none;
}

a:hover {
	color: #DE4301;
}

ul {
	list-style: none;
	text-align: center;
}

ul img {
	width: 150px;
}

ul li {
	display: inline-block;
	text-align: center;
	line-height: 15px;
	padding: 0 20px 0 20px;
}

footer {
	background-color: #71230F;
	color: white;
	text-align: center;
	margin: none;
	padding: 5%;
}